:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.product-container {
  max-width: 300px;
  margin: 10px auto;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-image {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #eee;

}

.product-info {
  padding: 20px;
}

.product-info h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.product-info p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

.product-info a {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.product-info a:hover {
  background-color: #2980b9;
}

.product-description {
  margin-top: 15px;
}

.product-description p {
  font-size: 14px;
  color: #777;
}


.chart-container {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
}

.chart-bar {
  height: 20px;
  background-color: #3498db;
  margin-bottom: 10px;
  border-radius: 3px;
  position: relative;
}

.chart-bar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(to right, #3498db, #2980b9);
  transition: width 1s ease-in-out;
}

.chart-bar:nth-child(1):before {
  width: 80%;
}

.chart-bar:nth-child(2):before {
  width: 50%;
}

.chart-bar:nth-child(3):before {
  width: 30%;
}

.chart-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 14px;
}


.itemLink {
	font-size: 20px;
	color: blue;
	transition: all 0.3s ease-in-out;
	font-weight: 900;
}


.active {
	color: violet;
}